# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
# overhead
Dockerfile
Dockerfile.prod
.dockerignore
docker-compose.yml
.vscode
.gitignore
.git
.github
LICENSE
*.md
.storybook
.env*

# artifacts
build
dist
node_modules
